@import "bourbon"

$base-font-family: "opensans", sans-serif
$base-font-family-bold: "opensans-bold", sans-serif
$base-font-family-fira: "firasans", sans-serif
$base-font-family-fira-bold: "firasans-bold", sans-serif
$em-base: 10px
$bgc: orange
