@import "bourbon"
@import "fonts"
@import "libs"
@import "vars"
@import "../libs/slick-carousel/slick/slick.scss"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

html *
	outline: none

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $base-font-family
	overflow-x: hidden

.img-responsive
	max-width: 100%
	height: auto

.header_items
	text-transform: uppercase
	color: #ffffff
	text-align: center
	margin: 1.5% 0 0 0
	display: block
body *
	transition: .4s ease
li
	list-style-type: none
a:hover
	text-decoration: none
header
	width: 100%
	background: url("../img/preview.jpg") 50% 50% no-repeat
	background-size: cover
	height: 600px
	.nav
		height: 70px
		width: 100%
		background: #fff
		.logo
			display: block
			width: 170px
			height: 100%
			background: $c 50% 50% no-repeat
			background-image: url("../img/logo.png")
			background-size: 75%
			float: left
		.search
			width: 90px
			height: 100%
			background: #FFAB3E url('../img/loupe.png') 50% 50% no-repeat
			background-size: 40%
			float: right
			cursor: pointer
		.menu
			float: left
			text-align: center
			width: calc(100% - 260px)
			padding: 0
			margin: 0
			height: 100%
			display: flex
			flex-direction: row
			flex-wrap: nowrap
			justify-content: space-around
			align-items: stretch
			align-content: stretch
			li
				flex-basis: 999px
				text-align: center
				&:hover
					background: #FFAB3E
				&:hover a
					color: #ffffff
			a
				font-weight: bold
				font-size: 18px
				text-transform: uppercase
				line-height: 70px
				color: $c

	.filter
		width: 100%
		height: calc(100% - 70px)
		background: rgba(0,0,0, 0.4)
		overflow: auto
		text-align: center
		position: relative
		overflow-x: hidden
		h2
			font-size: rem(48)
			@extend .header_items
		h1
			font-size: rem(78)
			font-family: $base-font-family-bold
			@extend .header_items
		a
			@extend .header_items
			display: inline-block
			padding: 7px 40px
			background: #FFAB3E
			font-weight: bold
			&:hover
				background-color: #E59830
		.act_buttons
			position: absolute
			right: 0
			top: 25%
			a
				font-size: 16px
				color: $c
				display: block
				border-radius: 5px 0 0 5px
				width: 50px
				height: 60px
				position: absolute
				right: 0
				overflow: hidden
				span
					display: none
					position: absolute
					right: 35px
					top: 25px
					font-size: 16px
					line-height: 16px
					color: $c
				&:hover
					width: 220px
					background-size: 15%
					background-position-x: 25px
				&:hover span
					display: inline
			.cont
				background: #FFAB3E url("../img/icons/map.png") 50% 50% no-repeat
				background-size: 50%
				top: 0
			.about
				background: #FFAB3E url("../img/icons/info.png") 50% 50% no-repeat
				background-size: 50%
				top: 70px
	.header-slick
		max-width: 650px
		margin: 3% auto 0
		position: relative
		&-item
			background: 50% 50% no-repeat
			background-size: contain
			height: 55px

.slick-arrow
	position: absolute
	top: 50%
	transform: translateY(-50%)
	margin: 0
	background: url("../img/icons/arro_white.png") 50% 50% no-repeat
	background-size: contain
	font-size: 0
	height: 55px
	width: 25px
	opacity: .75
	text-align: center
	color: transparent
	text-decoration: none
	z-index: 99
	border: 0
.slick-next
	right: -7%
.slick-prev
	left: -7%
	transform: scaleX(-1)
	margin-top: -27px












@import "media" // Всегда в конце
